{% extends "my_library/new_base.html" %}
{% block content %}
<form action="" method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <table>
        <tbody>
            <tr>
                <td>Payment Method:</td>
                <td><input type="text" name="method"></td>
            </tr>
            <tr>
                <td>Amount:</td>
                <td><input type="number" step = "0.01" min = "0.00" max = "{{ invoice.paymentamount }}" name="amount"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Pay"></td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock content %}